.bft-familytree > *:last-child {
  display: none;
}

#family-tree {
  width: 70%;
  height: 600px;
  background-color: lightgray; /* for debugging */
}

.bfc-colorbar {
  display: none !important;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Fullscreen height */
  background-color: #f3f4f6; /* Light background */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db; /* Spinner color */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
  font-weight: 500;
}